A:link {
	COLOR: #333;
	TEXT-DECORATION: none;
}

A:visited {
	COLOR: #333;
	TEXT-DECORATION: none;
}

A:active {
	COLOR: #333;
	TEXT-DECORATION: none;
}

A:hover {
	COLOR: #FF3300;
	TEXT-DECORATION: none;
}

.theTop {
	width: 900px;
	height: 25px;
	background: #fff;
	margin: 0 auto;
}

.theTop_div1 {
	width: 200px;
	height: 23px;
	float: left;
	line-height: 25px;
	text-align: center;
	font-size: 12px;
}

.theTop_div2 {
	width: 200px;
	height: 23px;
	float: right;
	line-height: 25px;
	text-align: center;
	font-size: 12px;
}

.Top {
	width: 900px;
	height: 90px;
	margin: 0 auto;
}

.top1 {
	height: 60px;
	color: #000000;
	font-size: 20px;
	font-family: "微软雅黑";
	font-weight: bolder;
	width: inherit;
	line-height: 58px;
}

.top1 img {
	float: left;
}

.top1 div {
	height: 58px;
	line-height: 58px;
	text-align: center;
	width: 100px;
	float: left;
}

.nav ul {
	width: 900px;
	margin: 0px auto;
	height: 35px;
	padding: 0;
	list-style: none;
}

.nav ul li {
	float: left;
}

.nav ul li a {
	width: 180px;
	height: 30px;
	line-height: 30px;
	background: #ff8000;
	color: #FFF;
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 23px;
	font-family: '微软雅黑';
}

.nav ul li a:hover {
	width: 178px;
	height: 30px;
	line-height: 30px;
	border: 1px solid red;
	color: red;
	background: #FFF;
}

.nowplace {
	width: 900px;
	height: 35px;
	margin: 0 auto;
	margin-top: 2px;
	margin-bottom: 2px;
	background: #d7d7d7;
}

.nowplace div {
	line-height: 35px;
}

.main_div {
	width: 900px;
	overflow: hidden;
	margin: 0 auto;
}

.left_div {
	width: 160px;
	height: 500px;
	float: left;
}

.left_div_div {
	width: 145px;
	height: 300px;
	border: 3px solid;
	border-color: #e4e4e4
}

.left_div_img1 {
	background: url(../img/jiajiao.jpg);
	width: 143px;
	height: 30px;
	border: 1px solid;
	border-color: #e4e4e4;
}

.left_div_img2 {
	background: url(../img/zhanghu.jpg);
	width: 143px;
	height: 30px;
	border: 1px solid;
	border-color: #e4e4e4;
}

.left_div_div ul {
	list-style: none;
}

.left_div_div ul li {
	margin-left: -40px;
	text-align: center;
	font-size: 18px;
	font-family: '微软雅黑';
}

.right_div {
	width: 738px;
	float: left;
	border: 1px solid;
	border-color: #e4e4e4;
	text-align: center;
	overflow: hidden;
}

.right_div1 {
	width: 738px;
	float: left;
	border: 1px solid;
	border-color: #e4e4e4;
	text-align: center;
	overflow: hidden;
}

.right_div img {
	margin: 100px 0px 100px 100px;
}

.right_div1 img {
	width:120px;
	height:120px;
	border-radius: 60px;
	margin:0px 0px 5px 0px;
}

.right_div_div1 {
	width: 736px;
	height: 30px;
	line-height: 30px;
	border: 1px solid;
	border-color: #e4e4e4;
	background: #e4e4e4;
	margin-bottom: 10px;
}




.right_div_div2 {
	width: 700px;
	margin: 0 auto;
	margin-top: 30px;
	overflow: hidden;
	margin-bottom: 30px;
}

.right_div_div2_div1 {
	width: 680px;
	margin: 0 auto;
	height:40px;
}

.right_div_alterInfo {
	width: 680px;
	margin: 0 auto;
	height:30px;
}

.right_div_alterInfo a {
	font-size: 20px;
	font-family: '微软雅黑';
	margin-left: 20px;
	text-decoration: none;
}

.right_div_alterInfo a:link {
	text-decoration: none;
	color: #000000;
}

.right_div_alterInfo a:visited {
	text-decoration: none;
	color: #000000;
}

.right_div_alterInfo a:hover {
	text-decoration: none;
	color: #000000;
}

.right_div_alterInfo a:active {
	text-decoration: none;
	color: #000000;
}

.right_div_div2_div1 a {
	font-size: 26px;
	font-family: '微软雅黑';
	margin-left: 20px;
	text-decoration: none;
	/*将这个数据放入点击按钮事件内*/
}

.right_div_div2_div1 a:link {
	text-decoration: none;
	color: #000000;
}

.right_div_div2_div1 a:visited {
	text-decoration: none;
	color: #000000;
}

.right_div_div2_div1 a:hover {
	text-decoration: none;
	color: #000000;
}

.right_div_div2_div1 a:active {
	text-decoration: none;
	color: #000000;
}

.right_div_div2_div2 {
	width: 680px;
	margin: 0 auto;
	margin-top:10px;
	overflow: hidden;
}







.right_div_div2_left {
	width: 150px;
	margin: 0 auto;
	float: left;
	margin-left: 70px;
}

.right_div_div2_right {
	width: 300px;
	margin: 0 auto;
	float: left;
}

.right_div_div2_left div {
	margin: 0 auto;
	width: 120px;
	height: 30px;
	margin-bottom: 15px;
	font-size: 18px;
	font-family: '微软雅黑';
}

.right_div_div2_right div {
	margin: 0 auto;
	width: 260px;
	height: 30px;
	margin-bottom: 15px;
	font-size: 18px;
	font-family: '微软雅黑';
	text-align: left;
}

.right_div_div2_right div input {
	width: 300px;
}

.requirement_info_div {
	width: 900px;
	border: 1px solid #e4e4e4;
	margin: 0 auto;
}

.requirement_info_div div {
	width: 600px;
	border: 1px solid #e4e4e4;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.teacher_info {
	width: 900px;
	border: 1px solid #e4e4e4;
	margin: 0 auto;
	overflow: hidden;
}

.teacher_info_div {
	width: 800px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.teacher_info_div_left {
	width: 180px;
	border: 1px solid #e4e4e4;
	float: left;
}

.teacher_info_div_left div {
	text-align: center;
	line-height: 50px;
	width: 180px;
	height: 50px;
}

.teacher_info_div_left img {
	width: 178px;
	height: 200px;
}

.teacher_info_div_right {
	width: 600px;
	margin-left: 10px;
	float: left;
}

.teacher_info_div_right_top {
	margin: 0 auto;
	width: 590px;
	margin-bottom: 20px;
}

.teacher_info_div_right_bottom {
	margin: 0 auto;
	width: 590px;
}

.teacher_info_div_right_bottom_div1 {
	height: 38px;
	width: 300px;
	margin: 0 auto;
}

.teacher_info_div_right_bottom_div1 a {
	font-size: 26px;
	font-family: '微软雅黑';
	margin-left: 20px;
	text-decoration: none;
	/*将这个数据放入点击按钮事件内*/
}

.teacher_info_div_right_bottom_div1 a:link {
	text-decoration: none;
	color: #000000;
}

.teacher_info_div_right_bottom_div1 a:visited {
	text-decoration: none;
	color: #000000;
}

.teacher_info_div_right_bottom_div1 a:hover {
	text-decoration: none;
	color: #000000;
}

.teacher_info_div_right_bottom_div1 a:active {
	text-decoration: none;
	color: #000000;
}

.teacher_info_div_right_bottom_record {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 590px;
}

.teacher_info_div_right_bottom_appraisal {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 590px;
}

.table-striped tbody tr th {
	text-align: center;
	width: 120px
}

.table-striped tbody tr td {
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-word;
}

.none{
	display:none;
}

.error{
	font-size: 8px;
	color:#F00
}